<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="main.css">
    <title>You loose</title>
</head>

<body>
    <img src="/images/Game_Over.jpg" alt="">
    <h2>
        <form action="/game" method="GET">
            <input type="submit" value="Play again!">
        </form>
        <img src="/images/hang5.gif" alt="">
</body>

</html>